<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>priceupdate</name>
	<displayName><![CDATA[Actualizador de Precios]]></displayName>
	<version><![CDATA[1.6.1]]></version>
	<description><![CDATA[Actualiza precios desde CSV descargado del proveedor.]]></description>
	<author><![CDATA[1024Mbits.com]]></author>
	<tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[¿Esta seguro que desea desinstalar el módulo actualizador?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
